<div class=container>

<div class="container">
 <div class="p-3 mb-2 bg-light text-dark">商品一覧</div>
  <div class="text-right">
    <%=link_to new_admin_item_path,class:"btn" do %>
    <i class="fa-solid fa-circle-plus"></i>
    <% end %>
  </div>
</div>

  <table class="table">
   <thead>
    <tr>
     <th>商品ID</th>
     <th>商品名</th>
     <th>税抜価格</th>
     <th>ジャンル</th>
     <th>ステータス</th>
     <th colspan="3"></th>
    </tr>
   </thead>
   <tbody>
   <% @item.each do |item|%>
   <tr>
    <th><%= item.id %></th>
    <th>
     <%= link_to admin_item_path(item.id) do %>
      <%= item.name %>
     <% end %>
    </th>
    <th><%= item.price %></th>
    <th><%= item.genre.name %></th>
    <th><%= item.is_active %></th>
   </tr>
   <% end %>
   </tbody>
  </table> 
  
  <div>
   <%= paginate @items %>
  </div>
  
</div>
  
