<h2>商品新規登録</h2>

<%= form_with model:[:admin,@item],local:true do |f| %>
 <%= f.label :商品画像 %>
 <%= f.label :商品名 %>
 <%= f.text_field :name,class:"name" %>
 <%= f.label :商品説明 %>
 <%= f.text_field :introduction,class:"name" %>
 <%= f.label :ジャンル %>
  <!--ジャンル選択-->genre_id
 <%= f.label :税抜価格 %>
 <%= f.text_field :price,class:"name" %>
 <!--販売ステータス-->ラジオボタン is_active
 <%= f.submit '新規登録',class:"btn btn-success" %>
<% end %>
