<div>ようこそ！パティシエ信濃川へ！！<br><storong>「ケーキで人を幸せにしたい」</storong><br>という一心でケーキを作り続け、早１０年。<br>いまでは県外から足を運んで下さるお客様もいらっします。<br>ぜひ、当店自慢のケーキをご自宅でお召し上がりください。</div>

<h3>新着商品</h3>

<table class="table">
   <tbody>
   <% @item.each do |item|%>
   <tr>
    <th>
    <%= link_to item_path(item.id) do %>
     <% if item.image_id.attached? %>
      <%= image_tag item.image_id, size: "100x100" %>
     <% else %>
      <%= image_tag 'no_image', size: "100x100" %>
     <% end %>
    <% end %>
    </th>
    <th>
      <%= item.name %>
    </th>
    <th>¥<%= item.price %></th>
   </tr>
   <% end %>
   </tbody>
  </table> 

  <%= link_to "全ての商品を見る ＞",items_path %>