<div class="container">
 
<div class="p-3 mb-2 bg-light text-dark">ジャンル一覧・追加</div>

<div class = "px-3 py-3 mx-3">
<%= form_with model:[:admin,@genre],local:true do |f| %>
 <%= f.label :ジャンル名 %>
 <%= f.text_field :name,class:"name" %>
 <%= f.submit '新規登録',class:"btn btn-success" %>
<% end %>
</div>

<div class = "py-3">
<div class="col">
 <table class="table table-hover table-inverse">
  <thead class = "thead-light">
   <tr>
    <th>ジャンル</th>
    <th></th>
    </tr>
  </thead>
  
  <tbody>
  <% @genres.each do |genre| %>
   <tr>
    <th><%= genre.name %></th>
    <th><%= link_to "編集する", edit_admin_genre_path(genre), class: "btn btn-success left-space" %></th>
   </tr>
  <% end %>
  </tbody>
</table>
</div>
</div>

</div>