<h3>注文情報入力</h3>

<div><strong>支払方法</strong></div>

<%= form_with model: @order do |f| %>

<div>
<%= f.radio_button :payment_method,"credit_card" %>
<%= f.label :payment_method, "クレジットカード" %>
<!--Order.payment_methods.key(0)-->
<!--payment_methods_i18n[:credit_card]-->
</div>
<div>
<%= f.radio_button :payment_method, "transfer" %>
<%= f.label :payment_method, "銀行振込"%>
<!--Order.payment_methods.key(1)-->
<!--Order.payment_methods_i18n[:transfer]-->
</div>

<% end %>

<%= form_with model: @order do |f| %>

<div><strong>お届け先</strong></div>

<div>
<%= f.radio_button :adress, '0' %>
<%= f.label :adress, 'ご自身の住所', value: 0 %>
 <p>
 <%=@customer.adress %><br>
 <%=@customer.first_name %><%=@customer.last_name %>
 </p>
</div>

<div>
<%= f.radio_button :adress, '1' %>
<%= f.label :adress, '登録済住所から選択', value: 1 %><br>
<%= f.select :adress_id, options_from_collection_for_select(Adress.all, :id, :adress_display) %>
</div>

<div>
<%= f.radio_button :adress, '2' %>
<%= f.label :adress, '新しいお届け先', value: 2 %>
 <div class="field">
    <%= f.label :郵便番号（ハイフンなし） %>
    <%= f.text_field :postal_code %>
 </div>
 <div class="field">
    <%= f.label :住所 %>
    <%= f.text_field :adress %>
 </div>
 <div class="field">
  <%= f.label :名前 %>
  <%= f.text_field :name %>
 </div>

</div>

<div><%= link_to "確認画面へ進む",orders_confirm_path, method: :post,class: "btn btn-primary" %></div>
<%= f.submit "確認画面へ進む",class: "btn btn-primary" %>
<% end %>
