<div class="container">

<div class="p-3 mb-2 bg-light text-dark">注文情報入力</div>

<div><strong>支払方法</strong></div>

<%= form_with model: @order, url: confirm_orders_path do |f| %>

<div class="field pl-3">
<%= f.radio_button :payment_method,"credit_card" %>
<%= f.label :payment_method, "クレジットカード" %>
<%= f.radio_button :payment_method, "transfer" %>
<%= f.label :payment_method, "銀行振込"%>
</div>

<div><strong>お届け先</strong></div>

<div class="field pl-3">
 <%= f.radio_button :select_adress,0 %>
 <%= f.label :select_adress, 'ご自身の住所'%><br>

 <div class ="pl-3"><%=@customer.postal_code%><%=@customer.adress %></div>
 <div class ="pl-3"><%=@customer.first_name %><%=@customer.last_name %></div>
</div>

<div class="field pl-3">
 <%= f.radio_button :select_adress,1 %>
 <%= f.label :select_adress, '登録済住所から選択' %><br>
 <div class ="pl-3"><%= f.select :adress_id, options_from_collection_for_select(current_customer.adresses, :id, :adress_display) %></div>
</div>

<div class="field pl-3">
 <%= f.radio_button :select_adress, 2 %>
 <%= f.label :select_adress, '新しいお届け先' %>
</div>
 <table class="ml-3">
 <div class="field pl-3">
  <tr>
  <th><%= f.label :郵便番号（ハイフンなし） %></th>
  <td><%= f.text_field :postal_code %></td>
  </tr>
 </div>
 <div class="field pl-3">
  <tr>
   <th><%= f.label :住所 %></th>
   <td><%= f.text_field :adress,size: 50 %></td>
  </tr>
 </div>
 <div class="field pl-3">
  <tr>
  <th><%= f.label :名前 %></th>
  <td><%= f.text_field :name %></td>
  </tr>
 </table>
 
 <div class ="text-center">
 <%= f.submit "確認画面へ進む",class:"btn btn-sm btn-primary" %>
 </div>
 
<% end %>

</div>