<h4>注文履歴詳細</h4>

<div><strong>注文情報</strong></div>
 <table>
  <thead>
   <th>注文日</th>
   <th>配送先</th>
   <th>支払方法</th>
   <th>ステータス</th>
  </thead>
  
  <tbody>
   <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
   <td><%= @order.postal_code %><%= @order.adress %><%= @order.name %></td>
   <td><%= @order.payment_method %></td>
   <td><ステータス></td>
  </tbody>
 </table>

<div><strong>請求情報</strong></div>
 <table>
  <thead>
  <th>商品合計</th>
  <th>配送料</th>
  <th>ご請求金額</th>
 </thead>
  
 <tbody>
  <td><%= @total %></td>
  <td><%= @order.shopping_cost %></td>
   <% @order.total_payment = @order.shopping_cost + @total %>
  <td><%= @order.total_payment %></td>
 </tbody>
 
 </table>
 
 

<div><strong>注文内容</strong></div>

 <table>
  <thead>
   <th>商品</th>
   <th>単価（税込）</th>
   <th>個数</th>
   <th>小計</th>
  </thead>
  
  <tbody>

   <% @order_items.each do |order_item| %>
   <tr> 
    <td><%= order_item.item.name %></td>
    <td><%= (order_item.item.price*1.1).floor %></td>
    <td><%= order_item.amount %></td>
    <td><%= (order_item.item.price*1.1).floor * order_item.amount %></td>
   </tr>
  <% end %>
 
 </tbody>
 
 </table>
 
 
 