<h3>商品一覧(全<%= @item.total_count %>件）</h3>
<table class="table">
   <% @item.each do |item|%>
   <tr>
    <th>
    <%= link_to item_path(item.id) do %>
     <% if item.image_id.attached? %>
      <%= image_tag item.image_id, size: "100x100" %>
     <% else %>
      <%= image_tag 'no_image', size: "100x100" %>
     <% end %>
    <% end %>
    </th>
    <th>
      <%= item.name %>
    </th>
    <th>¥<%= item.price %></th>
   </tr>
   <% end %>
   </tbody>
  </table> 
  <%= paginate @item %>
 
  

  
  
  

