<div class = "container">

<div>
<h4><strong>商品一覧</strong>(全<%= @item.total_count %>件）</h4>
</div>
 
<div class = "row mx-3 my-3 px-3">
 <% @item.each do |item|%>
  <div class=”col”>
   <div>
    <%= link_to item_path(item.id) do %>
     <%= image_tag item.get_item_image(100,100) %>
    <% end %>
    </div>
    <div>
      <%= item.name %>
    </div>
    <div>¥<%= item.price %></div>
    </div>
   <% end %>
  </div>
  
  <div>
  <%= paginate @item %>
  </div>
  
  </div>
 
  

  
  
  

