
<table class="table">
  <tbody>
   <td>
     <% if @item.image_id.attached? %>
      <%= image_tag @item.image_id, size: "100x100" %>
     <% else %>
      <%= image_tag 'no_image', size: "100x100" %>
     <% end %>
    </td>
   <tr>
    <td><%= @item.name %></td>
   </tr>
   <tr>
    <td><%= @item.introduction %></td>
  </tr>
   <tr>
    <td>¥<%= (@item.price * 1.1).floor %>（税込）</td>
   </tr>
  </tbody>
  </table>

<%= form_with(model: @cart_item, url:cart_items_path,local:true)do |f| %>

  <%= f.label :個数選択 %>
  <%= f.hidden_field :item_id,:value => @item.id  %>
  <%= f.select :amount, *[1..10] %>
  
  
  <%= f.submit "カートに入れる",class:"btn btn-sm btn-success" %>
 
　
<% end %>