<table class="table">
  <tbody>
   <tr>
    <td><%= @item.name %></td>
   </tr>
   <tr>
    <td><%= @item.introduction %></td>
  </tr>
   <tr>
    <td>¥<%= @item.price %>（税込）</td>
   </tr>
  </tbody>
  </table>
  
<%= form_with model: @item do |f| %>
  <div class="form-group">
  <%= f.label :個数選択 %>
  <%= f.number_field:amount,autocomplete:"off" %>
 </div>
<% end %>

<%= link_to "カートに入れる", cart_items_path(@itrm.id),class:"btn btn-sm btn-success" %></td>


<h5>（サイドバー）ジャンル検索</h5>
<div>  
  <% @genres.each do |genre| %>
    <%= genre.name %>
  <% end %>
</div>
