<div class="container">

<div class = "row">
 
  <div>
   <%= image_tag @item.get_item_image(100,100) %>
  </div>

 <div class ="col">
  <div class ="pb-3"><strong><%= @item.name %></strong></div>
  <div class ="pb-3"><%= @item.introduction %></div>
  <div class ="pb-3">¥<%= (@item.price * 1.1).floor %>（税込）</div>
 
 <%= form_with(model: @cart_item, url:cart_items_path,local:true)do |f| %>
  <%= f.label :個数選択 %>
  <%= f.hidden_field :item_id,:value => @item.id  %>
  <%= f.select :amount, *[1..10] %>
  <%= f.submit "カートに入れる",class:"btn btn-sm btn-success pl-3" %>
 <% end %>
</div>

</div>

</div>